<ng-container>
	<div fxLayout="column" fxLayoutAlign="center center" class="login-mobile">
		<form
			[formGroup]="loginForm"
			fxLayout="column"
			fxLayoutAlign="none center"
			(ngSubmit)="login()"
		>
			<mat-form-field appearance="outline">
				<mat-label>OTP</mat-label>
				<input
					matInput
					type="number"
					formControlName="otp"
					placeholder="otp"
					required
				/>
				<mat-error *ngIf="submitted && form.get('otp').hasError('required')"
					>otp is required</mat-error
				>
			</mat-form-field>

			<div
				class="form-submit-btn-mobile"
				fxLayout="row"
				fxLayoutAlign="center center"
			>
				<button mat-stroked-button class="submit-btn">
					<span *ngIf="!loading">Get In!</span>
					<span *ngIf="loading" fxLayout="row" fxLayoutAlign="center center">
						<mat-progress-spinner
							class="example-margin"
							color="accent"
							mode="indeterminate"
							diameter="40"
						>
						</mat-progress-spinner>
					</span>
				</button>
			</div>
		</form>
	</div>
</ng-container>
