$md-primary: (
	50: #ffe7ea,
	100: #ffc4cb,
	200: #ff9da8,
	300: #ff7585,
	400: #ff586a,
	500: #ff3a50,
	600: #ff3449,
	700: #ff2c40,
	800: #ff2537,
	900: #ff1827,
	A100: #fefefeff,
	A200: #fefefe,
	A400: #ffcacd,
	A700: #ffb1b5,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #fefefeff,
		600: #fefefeff,
		700: #fefefeff,
		800: #fefefeff,
		900: #fefefeff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

$md-accent: (
	50: #fefefeff,
	100: #fefefeff,
	200: #fefefeff,
	300: #fefefe,
	400: #fefefe,
	500: #fefefe,
	600: #fefefe,
	700: #fefefe,
	800: #fefefe,
	900: #fdfdfd,
	A100: #fefefeff,
	A200: #fefefeff,
	A400: #fefefeff,
	A700: #fefefeff,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #000000,
		800: #000000,
		900: #000000,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
